pkg/
.DS_Store
.idea/
*.pyc
*.swp
.lib/
*.tfstate
*.tfstate*
.vscode/
.vs/
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform/*
.terraform.lock.hcl
*.tfvars
release/wi-kubernetes-manifests.yaml
